/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}

/* Top section styles */
.top-section {
    display: flex;
    background: linear-gradient(to bottom, #1cdbfc, #41affc, #6483fd, #835efd, #8e51fe) ;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
}

.centered-content {
    text-align: center;
    padding: 20px;
    padding-top: 15vh;
}

.logo {
    max-width: 100%;
    max-height: 50vh;
    width: 50vh;
    filter: drop-shadow(0px 9px 10px #000000);
}

.logo-title {
    font-size: 8vh;
    margin: 25px 25px;
    color: white;
    text-shadow: 0px 0px 0px #fff;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

.logo-text {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 200;
    font-size: 5vh;
    color: white;
    text-shadow: 0px 0px 0px #fff;
}

/* Middle section styles */
.middle-section {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
    height: 60vh;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.box {
    border-radius: 15px;
    width: 60vh;
    height: 60vh;
    padding: 5px, 0px, 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    background: linear-gradient(0deg, rgb(250, 250, 250), rgb(250, 250, 250));
    position: relative;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    width: 30vh;
    height: 140%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: linear-gradient(0deg, rgb(250, 250, 250), rgb(250, 250, 250));
    border-radius: 130x;
}

@keyframes animate{
    0% {
        transform: rotate (0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box > h2, .box > p {
    z-index: 1;
}

.box:hover {
    transform: scale(1.05);
}

/* Bottom-Middle section styles */
.bottom-middle-section {
    background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(245, 245, 245));
    height: 60vh;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

/* Bottom section styles */
.bottom-section {
    background: linear-gradient(to bottom, #41affc, #6483fd, #835efd);
    height: 35vh;
    text-align: center;
    padding: 40px 0, 40px;
    color: #fff;
}

.about-us {
    font-family: Arial, sans-serif;
    font-weight: 0;
    font-size: 3.5vh;
    color: white;
    text-shadow: 0px 0px 0px #000000;
}


/* Footer styles */
.footer {
    font-size: 2.5vh;
    margin-bottom: 20px;
}
