/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}

/* Top section styles */
.top-section {
    display: flex;
    background: linear-gradient(to bottom, #1cdbfc, #41affc, #6483fd, #835efd, #8e51fe) ;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
}

.centered-content {
    text-align: center;
    padding: 20px;
    padding-top: 20vh;
}

.logo {
    max-width: 100%;
    max-height: 350px;
    width: 350px;
    filter: drop-shadow(0px 9px 10px #000000);
}

.logo-title {
    font-size: 50px;
    margin: 5px 0;
    color: white;
    text-shadow: 0px 0px 6px #fff;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

.logo-text {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: white;
    text-shadow: 0px 0px 5px #fff;
}

/* Middle section styles */
.middle-section {
    background: linear-gradient(to bottom, #4D516D, #6B7394);
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.box {
    border-radius: 30px;
    width: 300px;
    height: 200px;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    background: linear-gradient(0deg, rgb(230, 230, 230), rgb(250, 250, 250));
    position: relative;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 140%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: linear-gradient(0deg, rgb(190, 190, 190), rgb(215, 215, 215));
    border-radius: 130x;
}

@keyframes animate{
    0% {
        transform: rotate (0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box > h2, .box > p {
    z-index: 1;
}

.box:hover {
    transform: scale(1.05);
}

/* Bottom section styles */
.bottom-section {
    background: linear-gradient(to bottom, #3A86FF, #6B7394);
    text-align: center;
    padding: 40px 0;
    color: #fff;
}

/* Footer styles */
.footer {
    font-size: 18px;
    margin-top: 20px;
}
