body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}

/* Top section styles */
.top-section {
    display: flex;
    background: linear-gradient(to bottom, #1cdbfc, #41affc, #6483fd, #835efd, #8e51fe) ;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
}

.centered-content {
    text-align: center;
    padding: 20px;
    padding-top: 15vh;
}

.logo {
    max-width: 100%;
    max-height: 50vh;
    width: 50vh;
    filter: drop-shadow(0px 9px 10px #000000);
}

.logo-title {
    font-size: 8vh;
    margin: 0 0;
    color: white;
    text-shadow: 0px 0px 0px #fff;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

.logo-text {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 200;
    font-size: 5vh;
    color: white;
    text-shadow: 0px 0px 0px #fff;
}

/* Middle section styles */
.middle-section {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
    height: 60vh;
    padding: 40px 0;
}

.box {
    border-radius: 15px;
    width: 90vh;
    height: 60vh;
    padding: 5px, 0px, 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    background: linear-gradient(0deg, rgb(250, 250, 250), rgb(250, 250, 250));
    overflow: hidden;
}

.box > h2, .box > p {
    z-index: 1;
}

.box > h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #333;
}

.box > ul {
    margin-left: auto;
    margin-right: auto;
    width: 700px; 
    font-size: 1.2rem;
    line-height: 1.5;
    color: #666;
}

li {
    line-height: 3;
}

/* Bottom-Middle section styles */
.bottom-middle-section {
    background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(245, 245, 245));
    height: 60vh;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.carousel-item {
    padding: 20px;
}

.grid-container {
    display: inline-grid;
    gap: 40px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 30px;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

/* Footer styles */

.footer {
    background-color: #1f1f1f;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-about,
.contact-info {
    flex: 1 1 300px;
    margin-bottom: 20px;
}

.footer-about h3,
.contact-info h3 {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.contact-info p {
    list-style: none;
    padding: 0;
}

.bottom-footer {
    margin-top: 30px;
    font-size: 1.2rem;
}

/* Media query for footer responsiveness */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}

.item1 > ul:first-of-type {
    margin-top: 8vh;
}

.item2 > ul:first-of-type {
    margin-top: 5vh;
}

/* Hide the dropdown list by default */
.hidden {
    display: none;
  }
  
  /* Style for the dropdown button */
  button {
    padding: 10px;
    cursor: pointer;
  }
  
  /* Style for the dropdown list */
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  .mainList {
    list-style: none;
  }

  .mainElement::before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
  }

  .up::before{
    content: "\f0da";
  }

  .down::before {
    content: "\f0d7"
  }

  .dropdown-list {
    margin-left: 20px;
  }